In [1]:
import pandas as pd

caminho = '00-playground/'

# Ler os arquivos CSV em dataframes separados
df1 = pd.read_csv(caminho+'parametros_integracao_siscad_202404121841.csv')
df2 = pd.read_csv(caminho+'parametros_monitoramento_tutores_checkout_202404121841.csv')

In [12]:
# Mesclar os dataframes com base na coluna 'moodle_course_id'
df_merged_in = pd.merge(df1, df2, on='moodle_course_id', how='right')

df_merged_in.to_csv(caminho+'blah.csv')

# Verificar o dataframe mesclado
display(df_merged_in)

,moodle_course_id,siscad_disciplina_nome,disciplina_nome
0,53665.0,LITERATURA BRASILEIRA I,LITERATURA BRASILEIRA I
1,53668.0,METODOLOGIAS ATIVAS E TECNOLOGIAS DIGITAIS,METODOLOGIAS ATIVAS E TECNOLOGIAS DIGITAIS
2,53682.0,FUNDAMENTOS DA EDUCAÇÃO,FUNDAMENTOS DA EDUCAÇÃO
3,53683.0,"PROCESSOS DE LEITURA, PRODUÇÃO E ANÁLISE DE TE...","PROCESSOS DE LEITURA, PRODUÇÃO E ANÁLISE DE TE..."
4,53684.0,TEORIAS DO DESENVOLVIMENTO E DA APRENDIZAGEM,TEORIAS DO DESENVOLVIMENTO E DA APRENDIZAGEM
...,...,...,...
124,53802.0,DIREITO PENAL GERAL,DIREITO PENAL GERAL
125,53803.0,"DIREITO, PODER JUDICIÁRIO E FUNÇÕES ESSENCIAIS...","DIREITO, PODER JUDICIÁRIO E FUNÇÕES ESSENCIAIS..."
126,53804.0,DIREITOS REAIS,DIREITOS REAIS
127,53805.0,SISTEMAS ELETRÔNICOS JUDICIAIS,SISTEMAS ELETRÔNICOS JUDICIAIS
128,53806.0,NEGÓCIO JURÍDICO E CONTRATOS,NEGÓCIO JURÍDICO E CONTRATOS

In [13]:
# Mesclar os dataframes com base na coluna 'moodle_course_id'
df_merged_out = pd.merge(df1, df2, on='moodle_course_id', how='outer')

#df_merged_out['moodle_course_id'] = df_merged_out['moodle_course_id'].astype(int)

# Verificar o dataframe mesclado
display(df_merged_out)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [10]:
# Suponha que df1 e df2 sejam seus dataframes
# Concatenar os dataframes
concatenated_df = pd.concat([df_merged_in, df_merged_out])

display(concatenated_df)

# Remover duplicatas mantendo apenas a primeira ocorrência
# Isso resultará em um dataframe contendo apenas as linhas distintas
unique_rows = concatenated_df.drop_duplicates(keep=False)

display(unique_rows)

,moodle_course_id,siscad_disciplina_nome,disciplina_nome
0,53665.0,LITERATURA BRASILEIRA I,LITERATURA BRASILEIRA I
1,53668.0,METODOLOGIAS ATIVAS E TECNOLOGIAS DIGITAIS,METODOLOGIAS ATIVAS E TECNOLOGIAS DIGITAIS
2,53682.0,FUNDAMENTOS DA EDUCAÇÃO,FUNDAMENTOS DA EDUCAÇÃO
3,53683.0,"PROCESSOS DE LEITURA, PRODUÇÃO E ANÁLISE DE TE...","PROCESSOS DE LEITURA, PRODUÇÃO E ANÁLISE DE TE..."
4,53684.0,TEORIAS DO DESENVOLVIMENTO E DA APRENDIZAGEM,TEORIAS DO DESENVOLVIMENTO E DA APRENDIZAGEM
...,...,...,...
127,53805.0,SISTEMAS ELETRÔNICOS JUDICIAIS,SISTEMAS ELETRÔNICOS JUDICIAIS
128,53806.0,NEGÓCIO JURÍDICO E CONTRATOS,NEGÓCIO JURÍDICO E CONTRATOS
129,NaN,EDUCAÇÃO E RELAÇÕES ÉTNICO-RACIAIS,NaN
130,NaN,INTERFACE HUMANO-COMPUTADOR,NaN
131,NaN,E-COMMERCE,NaN

,moodle_course_id,siscad_disciplina_nome,disciplina_nome
21,53700.0,NaN,GESTÃO MERCADOLÓGICA
30,53709.0,NaN,PROJETO INTEGRADOR I
51,53729.0,NaN,INTERFACE HUMANO-COMPUTADOR
53,53731.0,NaN,PLANEJAMENTO ESTRATÉGICO DE NEGÓCIOS
67,53745.0,NaN,E-COMMERCE
81,53759.0,NaN,EDUCAÇÃO E RELAÇÕES ÉTNICO-RACIAIS
129,NaN,EDUCAÇÃO E RELAÇÕES ÉTNICO-RACIAIS,NaN
130,NaN,INTERFACE HUMANO-COMPUTADOR,NaN
131,NaN,E-COMMERCE,NaN