### 1- Imposto a pagar no Lucro Presumido

- 5% sobre faturamento de ISS (mensal)
- 0,65% de PIS sobre faturamento, (mensal)
- 3% de COFINS sobre faturmaneto, (mensal)
- 4.8% de IR (trimestral)
- 10% de IR Adicional sobre o que ultrapassar 20mil do faturamento (trimestral)
- CSLL: 2,88% sobre faturamento (trimestral)

In [19]:
faturamento = {
    'jan': 'R$ 95.141,98',
    'fev': 'R$ 95.425,16',
    'mar': 'R$ 89.716,31',
    'abr': 'R$ 78.459,99',
    'mai': 'R$ 71.087,28',
    'jun': 'R$ 83.911,06',
    'jul': 'R$ 56.467,26',
    'ago': 'R$ 88.513,58',
    'set': 'R$ 66.552,49',
    'out': 'R$ 80.164,07',
    'nov': 'R$ 66.964,33',
    'dez': 'R$ 71.525,25',
}

# você precisa inserir no sistema um dicionário no formato:

# resultado = {
#     'mes': (faturamento, imposto_mensal, imposto_trimestral),
# }

resultado = {}

def formata_para_reais(numero:float) -> str:
    return 'R$ {:_.2f}'.format(numero).replace('.', ',').replace('_', '.')

def converte_de_reais(valor_str:str) -> float:
    """
    converte a string formatada em reais para formato numerico python
    """
    return float(valor_str.strip('R$ ').replace('.', '').replace(',', '.'))

contames = 0
valor_trimestral = 0
for mes in faturamento:
    contames += 1
    valor = faturamento[mes]
    
    valor = converte_de_reais(valor)
    print(f'Faturamento {mes}: ', formata_para_reais(valor))

    valor_trimestral += valor
    
    #impostos mensais
    iss = valor * 0.05 # 5%
    pis = valor * 0.0065 # 0,65%
    cofins = valor * 0.03 # 3%
    print(f'ISS: R$ {iss:.2f}')
    print(f'PIS: R$ {pis:.2f}')
    print(f'COFINS: R$ {cofins:.2f}')

    impostos_mensais = iss + pis + cofins
    print(f'Total impostos mês {mes}: R$ {impostos_mensais:.2f}')

    impostos_trimestrais = 0.0

    #Impostos trimestrais
    if contames % 3 == 0:
        print(f'Faturamento trimestre: ', formata_para_reais(valor_trimestral))
        csll = valor_trimestral * 0.0288 #2,88%
        ir_base = valor_trimestral * 0.048 # 4,8%
        ir_adicional = 0.0
        if valor_trimestral > 20000:
            tmp = valor_trimestral - 20000
            ir_adicional = tmp * 0.1 # 10%

        print(f'IR base: R$ {ir_base:.2f}')
        print(f'IR Adicional: R$ {ir_adicional:.2f}')
        print(f'CSLL: R$ {csll:.2f}')

        impostos_trimestrais = ir_base + ir_adicional + csll
        print(f'Total impostos trimestre: R$ {impostos_trimestrais:.2f}')

        valor_trimestral = 0

    resultado[mes] = (formata_para_reais(valor), formata_para_reais(impostos_mensais), formata_para_reais(impostos_trimestrais))

print(resultado)

Faturamento jan:  R$ 95.141,98
ISS: R$ 4757.10
PIS: R$ 618.42
COFINS: R$ 2854.26
Total impostos mês jan: R$ 8229.78
Faturamento fev:  R$ 95.425,16
ISS: R$ 4771.26
PIS: R$ 620.26
COFINS: R$ 2862.75
Total impostos mês fev: R$ 8254.28
Faturamento mar:  R$ 89.716,31
ISS: R$ 4485.82
PIS: R$ 583.16
COFINS: R$ 2691.49
Total impostos mês mar: R$ 7760.46
Faturamento trimestre:  R$ 280.283,45
IR base: R$ 13453.61
IR Adicional: R$ 26028.35
CSLL: R$ 8072.16
Total impostos trimestre: R$ 47554.11
Faturamento abr:  R$ 78.459,99
ISS: R$ 3923.00
PIS: R$ 509.99
COFINS: R$ 2353.80
Total impostos mês abr: R$ 6786.79
Faturamento mai:  R$ 71.087,28
ISS: R$ 3554.36
PIS: R$ 462.07
COFINS: R$ 2132.62
Total impostos mês mai: R$ 6149.05
Faturamento jun:  R$ 83.911,06
ISS: R$ 4195.55
PIS: R$ 545.42
COFINS: R$ 2517.33
Total impostos mês jun: R$ 7258.31
Faturamento trimestre:  R$ 233.458,33
IR base: R$ 11206.00
IR Adicional: R$ 21345.83
CSLL: R$ 6723.60
Total impostos trimestre: R$ 39275.43
Faturamento jul:  R$ 56.467,26
ISS: R$ 2823.36
PIS: R$ 367.04
COFINS: R$ 1694.02
Total impostos mês jul: R$ 4884.42
Faturamento ago:  R$ 88.513,58
ISS: R$ 4425.68
PIS: R$ 575.34
COFINS: R$ 2655.41
Total impostos mês ago: R$ 7656.42
Faturamento set:  R$ 66.552,49
ISS: R$ 3327.62
PIS: R$ 432.59
COFINS: R$ 1996.57
Total impostos mês set: R$ 5756.79
Faturamento trimestre:  R$ 211.533,33
IR base: R$ 10153.60
IR Adicional: R$ 19153.33
CSLL: R$ 6092.16
Total impostos trimestre: R$ 35399.09
Faturamento out:  R$ 80.164,07
ISS: R$ 4008.20
PIS: R$ 521.07
COFINS: R$ 2404.92
Total impostos mês out: R$ 6934.19
Faturamento nov:  R$ 66.964,33
ISS: R$ 3348.22
PIS: R$ 435.27
COFINS: R$ 2008.93
Total impostos mês nov: R$ 5792.41
Faturamento dez:  R$ 71.525,25
ISS: R$ 3576.26
PIS: R$ 464.91
COFINS: R$ 2145.76
Total impostos mês dez: R$ 6186.93
Faturamento trimestre:  R$ 218.653,65
IR base: R$ 10495.38
IR Adicional: R$ 19865.37
CSLL: R$ 6297.23
Total impostos trimestre: R$ 36657.97
{'jan': ('R$ 95.141,98', 'R$ 8.229,78', 'R$ 0,00'), 'fev': ('R$ 95.425,16', 'R$ 8.254,28', 'R$ 0,00'), 'mar': ('R$ 89.716,31', 'R$ 7.760,46', 'R$ 47.554,11'), 'abr': ('R$ 78.459,99', 'R$ 6.786,79', 'R$ 0,00'), 'mai': ('R$ 71.087,28', 'R$ 6.149,05', 'R$ 0,00'), 'jun': ('R$ 83.911,06', 'R$ 7.258,31', 'R$ 39.275,43'), 'jul': ('R$ 56.467,26', 'R$ 4.884,42', 'R$ 0,00'), 'ago': ('R$ 88.513,58', 'R$ 7.656,42', 'R$ 0,00'), 'set': ('R$ 66.552,49', 'R$ 5.756,79', 'R$ 35.399,09'), 'out': ('R$ 80.164,07', 'R$ 6.934,19', 'R$ 0,00'), 'nov': ('R$ 66.964,33', 'R$ 5.792,41', 'R$ 0,00'), 'dez': ('R$ 71.525,25', 'R$ 6.186,93', 'R$ 36.657,97')}

### 2 - Puxando informações de um banco de Dados

In [ ]:
# puxando informações SQL de um banco de dados
informacoes = [(1, 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 167411.18, 0.0, 400184.25, None, 567595.43, 567595.43, 2011, '', 'San Francisco', ''), (2, 'GARY JIMENEZ', 'CAPTAIN III (POLICE DEPARTMENT)', 155966.02, 245131.88, 137811.38, None, 538909.28, 538909.28, 2011, '', 'San Francisco', ''), (3, 'ALBERT PARDINI', 'CAPTAIN III (POLICE DEPARTMENT)', 212739.13, 106088.18, 16452.6, None, 335279.91, 335279.91, 2011, '', 'San Francisco', ''), (4, 'CHRISTOPHER CHONG', 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 77916.0, 56120.71, 198306.9, None, 332343.61, 332343.61, 2011, '', 'San Francisco', ''), (5, 'PATRICK GARDNER', 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 134401.6, 9737.0, 182234.59, None, 326373.19, 326373.19, 2011, '', 'San Francisco', ''), (6, 'DAVID SULLIVAN', 'ASSISTANT DEPUTY CHIEF II', 118602.0, 8601.0, 189082.74, None, 316285.74, 316285.74, 2011, '', 'San Francisco', ''), (7, 'ALSON LEE', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 92492.01, 89062.9, 134426.14, None, 315981.05, 315981.05, 2011, '', 'San Francisco', ''), (8, 'DAVID KUSHNER', 'DEPUTY DIRECTOR OF INVESTMENTS', 256576.96, 0.0, 51322.5, None, 307899.46, 307899.46, 2011, '', 'San Francisco', ''), (9, 'MICHAEL MORRIS', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 176932.64, 86362.68, 40132.23, None, 303427.55, 303427.55, 2011, '', 'San Francisco', ''), (10, 'JOANNE HAYES-WHITE', 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 285262.0, 0.0, 17115.73, None, 302377.73, 302377.73, 2011, '', 'San Francisco', '')]
descricao = (('Id', "<class 'int'>", None, 10, 10, 0, True), ('EmployeeName', "<class 'str'>", None, 65536, 65536, 0, True), ('JobTitle', "<class 'str'>", None, 65536, 65536, 0, True), ('BasePay', "<class 'float'>", None, 54, 54, 0, True), ('OvertimePay', "<class 'float'>", None, 54, 54, 0, True), ('OtherPay', "<class 'float'>", None, 54, 54, 0, True), ('Benefits', "<class 'float'>", None, 54, 54, 0, True), ('TotalPay', "<class 'float'>", None, 54, 54, 0, True), ('TotalPayBenefits', "<class 'float'>", None, 54, 54, 0, True), ('Year', "<class 'int'>", None, 10, 10, 0, True), ('Notes', "<class 'str'>", None, 65536, 65536, 0, True), ('Agency', "<class 'str'>", None, 65536, 65536, 0, True), ('Status', "<class 'str'>", None, 65536, 65536, 0, True))

# precisamos 1º de uma lista com o nome das colunas para poder organizar as colunas da nossa tabela:
# o nome das colunas está na variável descrição, dê uma olhada.

import pandas as pd

tabela = pd.DataFrame.from_records(informacoes)
# para acertar nossa tabela, vamos precisar fazer:
# tabela = pd.DataFrame.from_records(informacoes, columns=colunas) # onde colunas é uma lista com o nome das colunas
display(tabela)


# além disso, precisamos enviar por e-mail para o RH uma lista com o nome e o cargo de cada pessoa da tabela 
# então você precisa construir o texto do corpo desse email do tipo:

# texto = """
# RH, segue a lista dos funcionários:
# Fulano, Cargo: tal
# Beltrano, Cargo: isso
# """

### 3 - Extração dos links de Download de Vídeos do Vimeo

- Precisamos pegar os links em 1080p, 720p e 540p para importar os vídeos para uma nova plataforma

In [ ]:
# para pegar o dicionario do vimeo, use:
from dic import dicionario_vimeo


# você precisa chegar em:
# videos = [
#     {'uri': video_uri, 'nome': nome_video, 'duracao': duracao, 'link540p': link540p, 'link720p': link720p, 'link1080p': link1080p},
# ]